[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[dev-packages]
faker = "*"
watchdog = "*"

[packages]
flask-sqlalchemy = "*"
flask-login = "*"
flask-dropzone = "*"
flask-mail = "*"
flask-moment = "*"
flask-wtf = "*"
python-dotenv = "*"
pillow = "*"
bootstrap-flask = "==1.4"
flask = "*"
flask-whooshee = "*"
flask-avatars = "*"
mysqlclient = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}
flask-ckeditor = "==0.4.3"
flask-editor = "*"
apscheduler = "*"
requests = "*"
xlrd = "*"
pymysql = "*"
celery = {extras = ["redis"],version = "*"}
eventlet = "*"
xlwt = "*"
pyecharts = "==1.7.1"
flask-debugtoolbar = "*"
flask-caching = "*"
