{% extends 'base.html' %}
{% from 'macros.html' import form_field %}
{% block title %}LFA{% endblock %}


{% block content %}


<div class="page-header">
    <h1>LFA</h1>
</div>
    <div>get请求: <a href="{{ url_for('main.explore2') }}">explore2</a></div>
    <div>post请求所有商品: <a href="{{ url_for('main.explore3') }}">explore3</a></div>
    <div>post请求单个订单: <a href="{{ url_for('main.explore4', _external=True, tid='E20200413162037038100001') }}">explore4</a></div>
    <div>逐个插入订单主表: <a href="{{ url_for('main.explore5') }}">explore5</a></div>


{% endblock %}



