{% extends 'base.html' %}
{% block title %}LFA{% endblock %}


{% block content %}


<div class="page-header">
    <h1>LFA</h1>
</div>
<div>get请求: <a href="{{ url_for('main.explore2') }}">explore2</a></div>
<div>post请求所有商品: <a href="{{ url_for('main.explore3') }}">explore3</a></div>
<div>post请求单个订单(url_for带上参数的例子): <a
        href="{{ url_for('main.explore4', _external=True, tid='E20200413162037038100001') }}">explore4</a></div>
<div>逐个插入订单主表: <a href="{{ url_for('main.explore5') }}">explore5</a></div>
<div>get请求到爱库存的活动列表: <a href="{{ url_for('main.aikucun_get_token1') }}">aikucun_activity</a></div>
<div>pyechart_show:<a href="{{ url_for('auth.indexssdd3') }}">ssdd3</a></div>


<div id="bar" style="width:1000px; height:600px;"></div>

<div id="liquidfill" style="width:1000px; height:600px;"></div>


{% endblock %}

{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/echarts-liquidfill.min.js') }}"></script>
<script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
<!--                    url: "http://10.10.19.6:5008/auth/barChart",-->
                    url: "{{ url_for('auth.get_bar_chart') }}",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )

</script>
<script>
        $(
            function () {
                var chart = echarts.init(document.getElementById('liquidfill'), 'white', {renderer: 'canvas'});
                $.ajax({
                    type: "GET",
<!--                    url: "http://10.10.19.6:5008/auth/barChartjjj",-->
                    url: "{{ url_for('auth.get_bar_chartjjj') }}",
                    dataType: 'json',
                    success: function (result) {
                        chart.setOption(result);
                    }
                });
            }
        )

</script>
{% endblock %}




