{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}owenum{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='open-iconic/font/css/open-iconic-bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--<link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet">-->
{% endblock %}

{% block content %}


<!--<div class="card w-100 bg-light border-danger">-->
<!--    <h3 class="card-header">Jayce Search</h3>-->
<!--    <div class="card-body">-->
<!--        {{ render_form(form) }}-->
<!--    </div>-->
<!--</div>-->

<div class="page-header">
    <h1>Owes
        <small class="text-muted">{{ pagination.total }}</small>
<!--         {{ render_form(form) }}-->

        <span class="float-right"><a class="btn btn-primary btn-sm"
                                     href="{{ url_for('main.upload_owe') }}"><div><i class="material-icons">face</i></div>New owe</a></span>

        <span class="float-right"><a class="btn btn-primary btn-sm"
                                     href="{{ url_for('main.upload_receive') }}"><div><i class="material-icons">tv</i></div>New receive</a></span>
        <span class="float-right"><a class="btn btn-info btn-sm"
                                     href="{{ url_for('main.export_owe') }}"><div><i class="material-icons">format_shapes</i></div>Expore owe</a></span>
<!--        <span class="float-right"><a class="btn btn-danger btn-sm"-->
<!--                                     href="{{ url_for('main.delete_all') }}">Delete all</a></span>-->
        <form class="inline" method="post"
                  action="{{ url_for('main.delete_all')}}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete all<i class="material-icons">gesture</i>
                </button>
        </form>
    </h1>
     {{ render_form(form) }}
</div>

{% if owenums %}
<table class="table table-striped">
    <thead>
    <tr>
        <th>No.</th>
        <th>sku</th>
        <th>yao</th>
        <th>shiji</th>
        <th>owe</th>
        <th>receive_date</th>
        <th>Actions</th>
    </tr>
    </thead>
    {% for owenum in owenums %}
    <tr>
        <td>{{ owenum.id }}</td>
        <td>{{ owenum.sku }}</td>
        <td>{{ owenum.yao }}</td>
        <td>{{ owenum.shiji }}</td>
        <td>{{ owenum.owe }}</td>
        <td>{{ owenum.receive_date }}</td>
        <td>
<!--            <a class="btn btn-info btn-sm" href="">Edit</a>-->
            <form class="inline" method="post"
                  action="{{ url_for('main.delete_owe', owe_id=owenum.id, next=request.full_path) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure?');">Delete
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="page-footer">{{ render_pagination(pagination) }}</div>
{% else %}
<div class="tip"><h5>No owe.</h5></div>
{% endif %}
{% endblock %}