<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="http://127.0.0.1:5010/static/js/echarts.min.js"></script>
</head>
<body>
    <h5>dadad</h5>
    <div id="bar" style="width:1000px; height:600px;"></div>
    <script>
        var chart = echarts.init(document.getElementById('bar'), 'white', {renderer: 'canvas'});

        $(
            function () {
                fetchData(chart);
                setInterval(fetchData, 5000);
            }
        );

        function fetchData() {
            $.ajax({
                type: "GET",
                 url: "http://127.0.0.1:5010/auth/barChart",
                dataType: 'json',
                success: function (result) {
                    chart.setOption(result);
                }
            });
        }
    </script>
    <h5>dadad</h5>
</body>
</html>